<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mystyle.css" rel="stylesheet" />
</head>
<body>
    <div id="div-top">
    </div>
    <div id="div-main">
        <div id="div-left">
            <h3>Danh mục sản phẩm</h3>
            <ul style="list-style:none">
                <li><a href="TrangChu">LapTop</a></li>
                <li><a href="DesktopComputer">Máy tính để bàn</a></li>
                <li>Điện thoại</li>
                <li>Phụ kiện</li>
            </ul>
        </div>
        <div id="div-containt">
            @RenderBody()
        </div>
     </div>
    <div id="div-footer">
        <h3>Trường đại học Ngoại Ngữ-Tin Học</h3>
    </div>
</body>
</html>
